fastapi==0.111.0
uvicorn==0.29.0
python-multipart==0.0.9
yt-dlp
demucs==4.0.1
librosa==0.10.2.post1
numpy==1.26.4
scipy==1.13.0
pedalboard==0.8.6
torch==2.3.0
torchaudio==2.3.0
requests==2.31.0
beautifulsoup4==4.12.3
openai-whisper
ffmpeg-python
webvtt-py
curl-cffi
pydub
soundfile
supabase
modal
